<div class="dng-effects-tab">
  
  {{!-- Traits d'Espèce --}}
  <section class="effect-section">
    <div class="section-header flexrow">
      <h3>{{localize "DNG.SheetLabels.TraitsEspece"}}</h3>
      <div class="section-controls">
        <a class="item-create" data-type="trait_espece" title="Ajouter un Trait d'Espèce">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    
    <ol class="items-list">
      {{#each traitsEspece as |item|}}
      <li class="item trait-espece flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexlarge">
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-description">
          {{item.system.description}}
        </div>
        <div class="item-controls">
          <a class="item-edit" title="Modifier">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-delete" title="Supprimer">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>

  {{!-- Talents d'Explorateur --}}
  <section class="effect-section">
    <div class="section-header flexrow">
      <h3>{{localize "DNG.SheetLabels.TalentsExplorateur"}}</h3>
      <div class="section-controls">
        <a class="item-create" data-type="talent_explorateur" title="Ajouter un Talent d'Explorateur">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    
    <ol class="items-list">
      {{#each talentsExplorateur as |item|}}
      <li class="item talent-explorateur flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexlarge">
          <h4>{{item.name}}{{#if item.system.rank}} (Rang {{item.system.rank}}){{/if}}</h4>
        </div>
        <div class="item-description">
          {{item.system.description}}
        </div>
        <div class="item-controls">
          <a class="item-edit" title="Modifier">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-delete" title="Supprimer">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>

  {{!-- Domaines --}}
  <section class="effect-section">
    <div class="section-header flexrow">
      <h3>{{localize "DNG.SheetLabels.Domaines"}}</h3>
      <div class="section-controls">
        <a class="item-create" data-type="domaine" title="Ajouter un Domaine">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    
    <ol class="items-list">
      {{#each domaines as |item|}}
      <li class="item domaine flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexlarge">
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-description">
          {{item.system.description}}
        </div>
        <div class="item-controls">
          <a class="item-edit" title="Modifier">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-delete" title="Supprimer">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>

  {{!-- Handicaps --}}
  <section class="effect-section">
    <div class="section-header flexrow">
      <h3>{{localize "DNG.SheetLabels.Handicaps"}}</h3>
      <div class="section-controls">
        <a class="item-create" data-type="handicap" title="Ajouter un Handicap">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    
    <ol class="items-list">
      {{#each handicaps as |item|}}
      <li class="item handicap flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexlarge">
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-description">
          {{item.system.description}}
        </div>
        <div class="item-controls">
          <a class="item-edit" title="Modifier">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-delete" title="Supprimer">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>

</div>
